@inject IExchangeScheduler scheduler
@inject IExchangeService exchange
@inject NavigationManager navigationManager

<div>
    <PageHeader Title="Your active schedules" Ghost="true" />

    <Card>
        <AntList DataSource="@ExchangeSchedules" ItemLayout="@ListItemLayout.Vertical" TItem="ExchangeScheduleSummary" OnItemClick="ScheduleClick">
            <ChildContent Context="item">
                <div class="schedule-summary">
                    <ScheduleSummary Summary="item" />
                </div>
            </ChildContent>
        </AntList>

        <a href="/schedule/new" class="new-schedule-link">
            <AntDesign.Button>Create New</AntDesign.Button>
        </a>
    </Card>
</div>

@code
{
    [Parameter] public ExchangeScheduleSummary[] ExchangeSchedules { get; set; } = Array.Empty<ExchangeScheduleSummary>();

    private void ScheduleClick(ExchangeScheduleSummary schedule)
    {
        navigationManager.NavigateTo($"/schedule/{schedule.Id}");
    }
}