.schedule-summary {
    border-bottom: 1px solid #f0f0f0;

    &:hover {
        cursor: pointer;
        background: rgba(60, 90, 100, 0.04);
    }
}

.new-schedule-link {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
