<Empty Simple>
    <DescriptionTemplate>
        <span>You don't have any schedules yet.</span>
    </DescriptionTemplate>
    <ChildContent>
        <a href="/schedule/new">
            <AntDesign.Button type="@ButtonType.Primary">
                Create Now
            </AntDesign.Button>
        </a>
    </ChildContent>
</Empty>