<div class="no-schedules-container">
    <Empty>
        <DescriptionTemplate>
            <Text>
                AutoSats automatically buys Bitcoin on an exchange of your choice according to a <strong>schedule</strong> you define.
                It can also automatically <strong>withdraw</strong> it to your wallet once you accumulate a certain amount.
                <br />
                You can define multiple schedules. For example you can buy every day on Bitstamp and once a month on Binance.
            </Text>
        </DescriptionTemplate>
        <ChildContent>
            <a href="/schedule/new">
                <AntDesign.Button type="@ButtonType.Primary">
                    Create schedule
                </AntDesign.Button>
            </a>
        </ChildContent>
    </Empty>
</div>