<ul class="ant-timeline ant-timeline-label">
    @foreach (var e in events)
    {
        <li id="@e.Id" class="ant-timeline-item ant-timeline-item-left">
			<div class="ant-timeline-item-label">@e.Timestamp.ToLocalTime().ToString()</div>
            <div class="ant-timeline-item-tail"></div>
            <Dot class="ant-timeline-item-head ant-timeline-item-head-blue ant-timeline-item-head-custom">
                <Tooltip Title="e.Error">
                    <Icon Type="@GetEventIcon(e)" Theme="outline" />
                </Tooltip>
            </Dot>
            <div class="ant-timeline-item-content">
                @GetEventDescription(e)
            </div>
        </li>
    }
</ul>

<Pagination 
    Class="" 
    HideOnSinglePage="true"
    Total="Details.Events.Count()" 
    PageSize="EventsPerPage"
    OnChange="ChangePage"
    ShowSizeChanger="false" />


@code {

    [Parameter] public ExchangeScheduleDetails Details { get; set; } = null!;

    private const int EventsPerPage = 10;
    private ExchangeEvent[] events = Array.Empty<ExchangeEvent>();

    protected override void OnParametersSet()
    {
        LoadEventsPerPage(0);
    }

    private void ChangePage(PaginationEventArgs args)
    {
        LoadEventsPerPage(args.Page - 1);
        
    }

    private void LoadEventsPerPage(int pageIndex)
    {
        this.events = Details.Events
            .OrderByDescending(x => x.Timestamp)
            .Chunk(EventsPerPage)
            .ElementAt(pageIndex)
            .ToArray();
    }

    private string GetEventDescription(ExchangeEvent e)
    {
        var spend = e.Schedule.SpendCurrency;
        var accumulate = "BTC";

        return e switch
        {
            ExchangeEventBuy buy when e.Error == null => $"Bought {buy.Received:N6} {accumulate} @ {buy.Price:N0} {spend}.",
            ExchangeEventBuy buy => $"Failed to buy {accumulate}.",
            ExchangeEventWithdrawal withdraw when e.Error == null => $"Withdrew {withdraw.Amount:N6} {accumulate} to {withdraw.Address}.",
            ExchangeEventWithdrawal withdraw => $"Failed to withdraw {accumulate} to {withdraw.Address}.",
            ExchangeEventCreate => "Schedule created.",
            ExchangeEventPause => "Schedule paused.",
            ExchangeEventResume => "Schedule resumed.",
            _ => string.Empty
        };
    }

    private string GetEventIcon(ExchangeEvent e)
    {
        return e.Type switch
        {
            ExchangeEventType.Pause => "pause",
            ExchangeEventType.Resume => "caret-right",
            ExchangeEventType.Buy => "bold",
            ExchangeEventType.Withdraw => "export",
            ExchangeEventType.Create => "plus",
            _ => string.Empty
        };
    }
}