::deep .schedule-container {
    padding: 8px 8px 0 8px;
    display: block;

    strong {
        font-weight: 600;
    }

    .schedule-description-list {
        display: flex;
        flex-flow: row wrap;
    }

    .schedule-title-container {
        display: flex;
        font-size: 16px;

        .schedule-title-icon {
            margin-left: auto;

            &.active {
                color: green;
            }

            &.paused {
                color: orange;
            }
        }
    }
}
