::deep {
    .summary-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: -3px 0;

        > * {
            margin: 3px 6px;
        }
    }

    .create-schedule-button {
        margin-right: -15px;
    }
}