::deep {
    .summary-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: -3px 0;

        > * {
            margin: 3px 6px;
        }

        .notification-select {
            width: 160px !important;

            .ant-select-selector {
                padding-top: 4px;
            }

            .ant-select-prefix {
                margin-top: -4px;
                margin-left: 4px;
            }

            .notification-label {
                margin-left: 4px;
            }
        }
    }

    .create-schedule-button {
        margin-right: -15px;
    }
}
