@page "/schedule/new"
@inject IExchangeScheduler scheduler
@inject NavigationManager navigation

<div>
    <PageHeader Title="Create new schedule" BackIcon="true" Ghost="true" />

    <Card>
        <div class="steps-container">
            <Steps Current="@currentStep">
                <Step Title="Connect to an exchange" />
                <Step Title="Define schedule & withdrawal" />
            </Steps>
        </div>

        @switch (currentStep)
        {
            case 0:
                <ExchangeKeys KeysChanged="SetKeys" />
                break;
            case 1:
                <ScheduleDetails ExchangeKeys="exchangeKeys" DetailsChanged="SetDetails" />
                break;
        }

    </Card>
</div>

@code {
    private int currentStep = 0;
    private ViewModels.ExchangeKeys? exchangeKeys;

    private void SetKeys(ViewModels.ExchangeKeys keys)
    {
        this.exchangeKeys = keys;
        this.currentStep = 1;
    }

    private void SetDetails(ViewModels.ScheduleDetails details)
    {
        navigation.NavigateTo("/");
    }
}
