html {
    width: 100vw;
    overflow: hidden;
}

body {
    overflow: auto;
}

#blazor-error-ui {
    display: none;
}

.components-reconnect-show {
    display: none;
}

h3 {
    margin-top: 12px;
}

.description-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 18px;
    margin-right: 24px;

    &:last-child {
        text-align: right;
        margin-right: 0;
    }

    &:first-child {
        margin-right: auto;
    }

    span:first-child {
    }

    span:last-child {
        color: black;
        font-size: 15px;
    }
}

.input-button {
    height: unset;
    padding: 0;
    line-height: 1;
}

/* ant overrides */
.ant-layout-header {
    background: #000428;
}

.ant-card {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    border: none;
}

.ant-timeline-item-last {
    padding-bottom: 0;

    .ant-timeline-item-content {
        min-height: 0;
    }
}

.ant-pagination {
    display: flex;
    justify-content: center;
}

@media(max-width: 575px) {
    .ant-col-offset-9, .ant-col-offset-8 {
        margin-left: 0;
    }

    .stretch-when-small {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
