#blazor-error-ui {
    display: none;
}

.ant-card {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    border: none;
}

h3 {
    margin-top: 12px;
}

.description-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 18px;
    margin-right: 24px;

    &:last-child {
        text-align: right;
        margin-right: 0;
    }

    span:first-child {
    }

    span:last-child {
        color: black;
        font-size: 15px;
    }
}
