<div class="footer-container">
    <span>Made in Prague with 🧡</span>
    <Divider Type="DirectionVHType.Vertical" />
    <span>Open source on <a target="_blank" href="https://github.com/bezysoftware/autosats">github</a> <Icon Type="github" Theme="outline" /></span>
</div>