@inject IOptions<ApplicationOptions> options
@inject IJSRuntime JSRunTime
@inject NavigationManager navigation

<div class="footer-container">
    <span>Made in Prague with <span class="icon">🧡</span></span>
    <Divider Type="DirectionVHType.Vertical" />
    <span>Open source on <a target="_blank" href="https://github.com/bezysoftware/autosats">github</a> <Icon Type="github" Theme="outline" Class="icon" /></span>
    <Divider Type="DirectionVHType.Vertical" />
    <span><a href="https://github.com/bezysoftware/autosats/releases/tag/@options.Value.Version">@options.Value.Version</a></span>
    <Divider Type="DirectionVHType.Vertical" />
    <span><Button Type="@ButtonType.Link" Icon="logout" OnClick="SignOut">Sign out</Button></span>
</div>

@code {
    private async Task SignOut()
    {
        var authModule = await JSRunTime.InvokeAsync<IJSObjectReference>("import", "./js/auth.js");
        await authModule.InvokeVoidAsync("SignOut");
        navigation.NavigateTo("/", true);
    }
}