@inherits LayoutComponentBase

<Layout Class="site-layout">
    <Header>
        <AppHeader />
    </Header>
    <Layout>
        <div class="site-layout-content">@Body</div>
    </Layout>
    <Footer Class="app-footer">
        <AppFooter />
    </Footer>
</Layout>

<style>
    .site-layout {
        min-height: 100vh;
        display: flex;
    }

    .site-layout-content {
        width: 800px;
        align-self: center;
        height: 100%;
    }

    .app-footer {
        padding: 0;
        margin-top: 48px;
    }
</style>
