@inject IHttpClientFactory http
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime

<div class="login-container stretch-when-small">
    <Form Model="Model" OnFinish="LoginAsync" Layout="@FormLayout.Vertical" ValidateMode="FormValidateMode.Complex">

        <FormItem WrapperColOffset="8" 
                  WrapperColSpan="8"
                  LabelColOffset="8"
                  Label="AutoSats Password" 
                  ValidateStatus="ValidateStatus">
            <InputPassword @bind-Value="context.Password" OnInput="PasswordSet" />
            @if (ValidateStatus == FormValidateStatus.Error) 
            {
                <span class="error">Incorrect password</span>
            }
            else 
            {
                <span>&nbsp;</span>
            }
        </FormItem>

        <FormItem WrapperColOffset="8" WrapperColSpan="8" Class="stretch-when-small">
            <Button Block Type="primary" HtmlType="submit" Loading="LoginRunning">
                Login
            </Button>
        </FormItem>
    </Form>
</div>

@code {
    public LoginRequest Model { get; set; } = new LoginRequest();
    public FormValidateStatus ValidateStatus { get; set; } = FormValidateStatus.Default;
    public string? Help { get; set; }
    public bool LoginRunning { get; set; }

    private void PasswordSet(ChangeEventArgs change)
    {
        // required to set manually for firefox
        Model.Password = change.Value?.ToString();
    }

    private async Task LoginAsync(EditContext context)
    {
        ValidateStatus = FormValidateStatus.Default;
        LoginRunning = true;

        var model = (LoginRequest)context.Model;
        var authModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/auth.js");
        var result = await authModule.InvokeAsync<bool>("SignIn", model.Password, "/");

        if (result)
        {
            this.navigation.NavigateTo("/", true);
        }
        else
        {
            ValidateStatus = FormValidateStatus.Error;
        }

        LoginRunning = false;
    }
}