@inherits LayoutComponentBase

<Layout Class="site-layout">
    <Header>header</Header>
    <Layout>
        <div class="site-layout-content">@Body</div>
    </Layout>
    <Footer Style="text-align: center;">footer</Footer>
</Layout>

<style>
    .site-layout {
        height: 100vh;
        display: flex;
    }

    .site-layout-content {
        width: 800px;
        align-self: center;
    }
</style>
