.exchange-select-label {
    align-self: center;
}

::deep .exchange-description {
    margin-bottom: 24px;
}

::deep .check-balance-description {
    text-align: center;
    display: block;
    margin-top: -24px;
}