::deep {
    .schedule-description {
        margin-bottom: 24px;
        display: inline-block;
    }

    .currencies-select {
        width: 80px !important;
        padding: 0;

        .balance-label {
            margin: auto 0;
        }
    }

    .element-stretch {
        width: 100%;
    }

    .amount-form-item {
        margin-bottom: 0;
    }

    .anticon {
        color: rgba(0, 0, 0, 0.25);
    }

    .ant-divider-vertical {
        margin: 0;
        height: calc(100% - 24px);
    }

    .run-definition-description {
        text-align: center;
        display: block;
        margin-top: -24px;
    }

    .verify-checkbox {
        margin-bottom: 12px;
    }
}

.balance-item {
    display: flex;
    flex-flow: column;
    align-items: center;

    .amount {
        opacity: 0.6;
        font-size: 13px;
    }
}

.named-withdrawal {
    display: flex;
    flex-flow: column;
    align-items: center;

    ::deep > * {
        margin-bottom: 12px;
    }

    ::deep input {
        border-style: dashed;
    }
}